.Container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: 15px;
  box-shadow: var(--shadow-md);
}

.Header {
  display: flex;
  padding: 15px;
  color: var(--white);
  font-size: 36px;
  font-weight: 300;
  cursor: default;
}

.Body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.Body > * {
  margin-bottom: 30px;
}

.Body > *:last-child {
  margin-bottom: 0;
}
