.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 80px;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > * {
  margin-right: 30px;
}

.rightPanel > *:last-child {
  margin-right: 0;
}

.brand {
  display: flex;
  align-items: center;
}

.brandText {
  margin-left: 15px;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
}

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: var(--gray);
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
}

.toggle span {
  margin-bottom: 7px;
  width: 30px;
  height: 3px;
  background-color: var(--white);
}

.toggle span:last-child {
  margin-bottom: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: max-content;
  background-color: var(--gray);
  border-radius: 15px;
  box-shadow: var(--shadow-md);
}

.navLink {
  margin-bottom: 10px;
  color: var(--white);
  font-size: 18px;
  transition: color .5s;
}

.navLink:hover {
  color: var(--white);
}

.navLink:last-child {
  margin-bottom: 0;
}

.signIn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  color: var(--white);
  font-size: 24px;
}

.signIn::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: var(--black);
  border-radius: 6px;
}

.signIn::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--grad-orange-purple-blue-orange);
  border-radius: 6px;
  opacity: 0;
  transition: opacity .3s;
}

.signIn > * {
  position: relative;
  z-index: 3;
}

.signIn:hover {
  color: var(--white);
}

.signIn:hover::after {
  opacity: 1;
}

.signIn:active {
  transform: translateY(1px);
  opacity: .8;
}
