.Container {
  display: flex;
  align-items: center;
}

.Container > * {
  margin-right: 30px;
}

.Container > *:last-child {
  margin-right: 0;
}

.Avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: var(--shadow-md);
}

.Nickname {
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  cursor: default;
}
