.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title {
  margin-bottom: 30px;
  color: var(--white);
  font-size: 60px;
}

.Link {
  color: var(--white);
  font-size: 32px;
}

.Link:hover {
  opacity: .8;
}
