.banner {
  display: flex;
  height: calc(100vh - 80px);
}

.banner > * {
  flex: 1;
}

.container {
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bannerTitle {
  margin-bottom: 180px;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: var(--grad-orange-purple-blue-orange);
  background-position-x: 0%;
  background-position-y: 0%;
  background-clip: border-box;
  background-position: 0 0;
  color: var(--white);
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  transition: all 0.8s ease-in-out, font-size 0s;
}

.bannerSubtitle {
  margin-bottom: 30px;
  color: var(--white);
  font-size: 32px;
}

.bannerAuthorization {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  height: 60px;
  background: var(--white);
  border-radius: 8px;
  color: var(--white);
  font-size: 32px;
  box-shadow: var(--shadow-md);
  transition: color .3s, background .3s, border .3s;
}

.bannerAuthorization::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: var(--black);
  border-radius: 6px;
}

.bannerAuthorization::after {
  content: '';
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--grad-orange-purple-blue-orange);
  border-radius: 6px;
  opacity: 0;
  transition: opacity .3s;
}

.bannerAuthorization:hover {
  color: var(--white);
}

.bannerAuthorization:hover::after {
  opacity: 1;
}

.bannerAuthorization:active {
  transform: translateY(1px);
  opacity: .8;
}

.bannerAuthorization > * {
  position: relative;
  z-index: 3;
}

.bannerScroll {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
}

.bannerScrollImg {
  animation: ScrollBtnAnimation 2s infinite;
  animation-play-state: running;
}

@keyframes ScrollBtnAnimation {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(10px);
  }
  80% {
    transform: translateY(10px);
  }
}

.bannerScrollText {
  color: var(--gray-light);
  font-size: 14px;
  font-weight: light;
}