.Main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 350px;
  grid-template-areas: 
    "owner opponent"
    "chat chat";
  column-gap: 30px;
  row-gap: 30px;
  padding: 30px;
  height: calc(100vh - 80px);
  align-content: stretch;
}

.OwnerBlock {
  grid-area: owner;
}

.OpponentBlock {
  grid-area: opponent;
}

.LobbyPlayerProfile {
  margin-bottom: 15px;
}

.LobbyChat {
  grid-area: chat;
  margin-right: 30px;
}

.DotaInputId {
  margin-top: 15px;
  margin-bottom: 15px;
}
