.Main {
  display: grid;
  grid-template-columns: auto 400px;
  grid-template-rows: auto;
  grid-template-areas: "list form";
  column-gap: 30px;
  padding: 30px;
  max-height: calc(100vh - 80px);
}

.LobbyListContainer {
  grid-area: list;
}

.LobbyCreator {
  grid-area: form;
}
