:root {
  --black: #1C1C1E;
  --black-light: #2A2A2C;
  --white: #F2F2F7;
  --gray: #3A3A3C;
  --gray-light: #8E8E93;
  --grad-teal-green: linear-gradient(90.67deg, #11998E 0%, #38EF7D 100%);
  --grad-orange-purple-blue-orange: linear-gradient(to right, #EFA875, #CBA7CB, #64B4F3, #EFA875 100%);
  --grad-orange-yellow: linear-gradient(0deg, #FF4E00 0%, #FFD80C 100%);;
  
  --green-teal: linear-gradient(245.64deg, #20BF55 27.3%, #01BAEF 71.55%);
  --orange-pink: linear-gradient(256.61deg, #FF4E00 35.43%, #FC575E 71.73%), #D5ADC8;
  --teal-purple: linear-gradient(360deg, #5DE6DE 0%, #B58ECC 58.33%), #B58ECC;
  --orange-yellow: linear-gradient(0deg, #FF4E00 0%, #FFD80C 100%);
  --shadow-sm: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
  --shadow-md: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}
