.fieldset {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: var(--black);
  border: none;
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
}

.fieldset::before {
  content: '';
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--grad-orange-yellow);
  border-radius: 6px;
  opacity: 0;
  transition: opacity .3s;
}

.fieldsetError::before {
  opacity: 1;
}

.fieldset::after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: var(--black);
  border-radius: 6px;
}


.gray {
  background-color: var(--gray);
}

.gray::after {
  background-color: var(--gray);
}

.greenBorder {
  background: var(--grad-teal-green);
}

.label {
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 0;
  margin-bottom: 0;
  padding: 0 15px;
  color: var(--gray-light);
  font-size: 24px;
  transition: all .3s;
}

.fieldsetFocused label {
  top: 7px;
  font-size: 14px;
}

.input {
  position: relative;
  z-index: 2;
  flex: 1;
  padding: 15px;
  padding-bottom: 0;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 24px;
}

.fieldsetDisabled .input {
  opacity: 0.8;
}

.loader {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 15px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
}

.errorIcon {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 15px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
}

.errorMessage {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: var(--grad-orange-yellow);
  background-position-x: 0%;
  background-position-y: 0%;
  background-clip: border-box;
  background-position: 0 0;
  color: red;
  font-size: 18px;
  font-weight: 300;
}
