.wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  z-index: 100;
  top: calc(100% + 15px);
  right: 0;
  display: none;
  opacity: 0;
  transition: opacity .5s ease-out;
}

.dropdownEnter,
.dropdownEnterActive,
.dropdownEnterDone,
.dropdownExit {
  display: flex;
}

.dropdownEnterActive,
.dropdownEnterDone {
  opacity: 1;
}

.dropdownExit {
  opacity: 0;
}
