.Container {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: 15px;
  box-shadow: var(--shadow-md);
}

.Body {
  display: flex;
  flex-direction: column;
  padding: 30px;
  flex: 1;
}

.Footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 0;
}

.MessageList {
  display: flex;
  flex-direction: column;
  height: 200px;
  max-height: 200px;
  overflow-y: auto;
  background: var(--black-light);
  border-radius: 8px;
}

.Message {
  display: flex;
  padding: 2px 8px;
  color: var(--white);
  font-size: 18px;
}

.MessageAuthor {
  margin-right: 5px;
  font-weight: 700;
}

.MessageText {
  font-weight: 300;
}

.SendMessageForm {
  display: grid;
  grid-template-columns: auto 150px;
  grid-template-rows: 60px;
  column-gap: 30px;
}
