.wrapper {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: var(--shadow-md);
}

.nickname {
  margin-right: 15px;
  color: var(--white);
  font-size: 18px;
  text-align: right;
  cursor: default;
}
