.Container {
  display: flex;
  flex-direction: column;
}

.Header {
  color: var(--white);
  font-family: Roboto;
  font-size: 18px;
  cursor: default;
}

.Body {
  padding: 15px 0;
}

.Grid {
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  grid-template-rows: 50px 50px;
  column-gap: 30px;
  row-gap: 30px;
}

.Item {
  position: relative;
  background: none;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  cursor: pointer;
}

.Item:active {
  opacity: .8;
  transform: translateY(1px);
}

.ItemBanned > *:first-child {
  filter: grayscale(100%);
}

.ItemBannedCross {
  position: absolute;
  top: 5px;
  left: 15px;
}
