.wrapper {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  background-color: var(--gray);
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  color: var(--white);
}

.balance {
  margin-right: 5px;
  font-weight: bold;
  cursor: default;
}

.amount {
  margin-right: 5px;
  cursor: default;
}

.currency {
  cursor: default;
}
