.Container {
  display: flex;
  flex-direction: column;
  background: var(--gray);
  border-radius: 15px;
  box-shadow: var(--shadow-sm);
}

.Header {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.HeaderTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -2.5px;
  color: var(--white);
  font-size: 36px;
  cursor: default;
}

.HeaderTitle > * {
  margin: 0 2.5px;
}

.HeaderTitleText {
  font-weight: 700;
}

.HeaderTitleCount {
  font-weight: 300;
}

.Body {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px;
}

.Table {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TableHeader {
  position: relative;
  display: grid;
  grid-template-columns: auto 150px 150px 50px 100px;
  grid-template-rows: 40px;
  grid-template-areas: "name sum owner . .";
  padding-bottom: 1px;
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
  cursor: default;
}

.TableHeader::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--white);
}

.TableHeaderName {
  grid-area: name;
  place-self: center;
}

.TableHeaderSum {
  grid-area: sum;
  place-self: center;
}

.TableHeaderOwner {
  grid-area: owner;
  place-self: center;
}

.TableBody {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--black-light);
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
}

.TableBodyWrapper {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 265px); /* TODO: FIX THIS */
  overflow-y: auto;
}

.TableRow {
  position: relative;
  display: grid;
  padding: 0 5px;
  grid-template-columns: auto 150px 150px 50px 100px;
  grid-template-rows: 60px;
  grid-template-areas: "name sum owner players button";
  padding-bottom: 1px;
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
}

.TableRow::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--gray-light);
}

.TableRow:last-child {
  padding-bottom: 0;
}

.TableRow:last-child::after {
  content: none;
}

.TableRowName {
  grid-area: name;
  place-self: center start;
  max-width: 1000px;
  overflow: hidden;
}

.TableRowSum {
  grid-area: sum;
  place-self: center;
}

.TableRowOwner {
  grid-area: owner;
  place-self: center;
}

.TableRowPlayers {
  grid-area: players;
  place-self: center;
}

.TableRowButton {
  grid-area: button;
  place-self: center;
}
