.Container {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 24px;
}

.Body {
  display: flex;
  flex-direction: column;
}

.LobbyList {
  display: flex;
  flex-direction: column;
}

.Lobby {
  display: flex;
  color: var(--white);
  font-size: 16px;
}

.Lobby > * {
  margin-right: 5px;
}

.Lobby > *:last-child {
  margin-right: 0;
}
