.Button {
  width: 100%;
}

.MockButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  min-height: 50px;
  background: inherit;
  border: 2px solid var(--white);
  border-radius: 8px;
  box-shadow: var(--shadow-sm);
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}

.MockButton::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background: inherit;
  border-radius: 6px;
}

.MockButton::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  background: var(--grad-orange-purple-blue-orange);
  border-radius: 8px;
  opacity: 0;
  transition: opacity .3s;
}

.MockButton > * {
  position: relative;
  z-index: 3;
  cursor: default;
}

.MockButtonActive::after {
  background: var(--grad-teal-green);
}

.MockButtonActive::after {
  opacity: 1;
}
